<div class="container main-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1"><br/><br/>
            <h1 class="page-header" translate>
                Contact Us
            </h1>
            <div class="main-content">
                <form class="form">
                    <div class="form-group col-sm-10 col-sm-offset-1">
                        <input class="form-control" type="text" placeholder="{{'Username'|translate}}" readonly>
                    </div>
                    <div class="form-group col-sm-10 col-sm-offset-1">
                        <input class="form-control" type="email" placeholder="{{'email@example.com'|translate}}"
                               readonly>
                    </div>
                    <div class="form-group col-sm-10 col-sm-offset-1">
                            <textarea class="form-control" rows="5"
                                      placeholder="{{'Your Message'|translate}}"></textarea>
                    </div>
                    <div class="form-group col-sm-10 col-sm-offset-1">
                        <button type="submit" class="btn btn-default send-btn pull-right">
                            <translate>Send Message</translate>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>