<div class="front-banner">
</div>
<div class="container main-container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1"><br/><br/>
            <img src="../../images/growth.png" alt="growth" class="icon">
            <strong translate>Help New Believers Grow</strong><br/>
            <translate>Invite them to a personal email series from you. Every few days, they will learn from you important truths about their new relationship with God.</translate><br/><br/>
            <img src="../../images/thumbprint.png" alt="personal" class="icon">
            <strong translate>Your Personal Version</strong><br/>
            <translate>The emails are already there for you. You edit sections to be true of your own personal life. Then you simply invite people to your personal series. Each email is automatically delivered to them, over days, from you.</translate><br/><br/>
            <hr>
            <div class="form-group" ng-show="showSampleEmail">
                <translate>Sample Email Here</translate>
            </div>
            <div class="text-center"><a href="" ng-click="showSampleEmail = !showSampleEmail" translate>See Sample Email</a></div>
        </div>
        <div id="signup" class="col-md-5"><br/><br/>
            <h1 translate>Sign Up Widget or Redirect</h1>
        </div>
    </div>
</div>
