<div class="container main-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1"><br/><br/>
            <h1 class="page-header" translate>
                Account Settings
            </h1>
            <div class="main-content">
                <form class="form-horizontal" role="form">
                    <div class="form-group col-sm-10">
                        <input class="form-control" type="text" placeholder="{{'Sarah'|translate}}" readonly>
                    </div>
                    <div class="form-group col-sm-10">
                        <input class="form-control" type="text" placeholder="{{'Student'|translate}}" readonly>
                    </div>
                    <div class="form-group col-sm-10">
                        <input class="form-control" type="email"
                               placeholder="{{'sarah.student@school.com'|translate}}">
                    </div>
                    <div class="form-group col-sm-10">
                        <input class="form-control" type="password"
                               placeholder="{{'Change Password'|translate}}">
                        <span translate> Leave blank if you don't want to change password</span>
                    </div>
                    <div class="form-group col-sm-10">
                        <input class="form-control" type="password"
                               placeholder="{{'Confirm New Password'|translate}}">
                    </div>
                    <div class="form-group col-sm-10">
                        <button type="submit" class="btn btn-default send-btn btn-orange pull-right">
                            <translate>Save</translate>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>