<div class="container main-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1"><br/><br/>
            <div class="alert alert-success center" ng-show="sendInviteSuccess" role="alert">Your email to {{fname}} was
                succesfully sent!
            </div>
            <h1 class="page-header" translate>
                Contacts' Activity
            </h1>

            <div class="main-content">
                <a href="#/user/send_invite" class="clear">
                    <button type="button" class="btn btn-orange">
                        <translate>+ New Invitation</translate>
                    </button>
                </a>

                <table style="width:100%">
                    <tr ng-repeat="activity in model.activities">
                        <td>
                            <translate>{{activity.nameline}}</translate>
                            <br/><span translate>{{activity.lastact}}</span></td>
                        </td>
                        <td>
                            <span translate>{{activity.status}}</span>
                        </td>
                        <td>
                            <span  translate bind-html-compile="activity.action"></span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
