<div class="container main-container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1"><br/><br/>
            <div class="alert alert-danger center" ng-show="showErrorMsg" role="alert">Your email was not able to be
                sent.
            </div>
            <h1 class="page-header" translate>
                Send Invitation
            </h1>
            <div class="main-content">
                <form class="form-horizontal" role="form" ng-submit="sendInvite()" name="form.theForm">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstName" translate>First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="form.firstName" class="form-control" ng-model="firstName"
                                   id="firstName" placeholder="{{'First Name'|translate}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastName" translate>Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="lastName" id="lastName"
                                   placeholder="{{'Last Name'|translate}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email" translate>Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" ng-model="emailAddress" id="email"
                                   placeholder="{{'email@example.com'|translate}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="language" translate>Select Email Language:</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="emailLanguage" id="language">
                                <option selected translate>English</option>
                                <option translate>Hungarian</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="showTextField">
                        <label class="control-label col-sm-2" for="message" translate>Add Personalized Message:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" ng-model="customMessage" id="message"
                                      placeholder="{{'Add personalized message here!'|translate}}"></textarea>
                        </div>
                    </div>
                    <div style="text-decoration: underline; text-align: right;">
                        <a href="" ng-click="showTextField = !showTextField" translate>Customize Intro Message</a>
                    </div>
                    <br/>
                    <div class="form-group center">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-disabled="isDisabled"
                                    class="btn btn-lg btn-orange send-btn">
                                <translate>Send Invitation</translate>
                            </button>
                            <div>
                                <button class="btn btn-lg btn-orange" ng-show="showSendingBtn" ng-disabled="true">
                                    <div class="loader">Sending...</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
